kkzzhizhou/scoop-zapps
ScoopInstaller/Extras
chawyehsu/dorado
matthewjberger/scoop-nerd-fonts
ScoopInstaller/Java
Calinou/scoop-games
TheRandomLabs/scoop-nonportable
borger/scoop-galaxy-integrations
ivaquero/scoopet
TheCjw/scoop-retools
ScoopInstaller/Versions
kodybrown/scoop-nirsoft
L-Trump/scoop-raresoft
Ash258/Scoop-JetBrains
littleli/scoop-clojure
kidonng/sushi
rasa/scoops
MCOfficer/scoop-nirsoft
KNOXDEV/wsl
echoiron/echo-scoop
hermanjustnu/scoop-emulators
everyx/scoop-bucket
cderv/r-bucket
TheRandomLabs/Scoop-Bucket
hoilc/scoop-lemon
Qv2ray/mochi
Paxxs/Cluttered-bucket
dodorz/scoop
kiennq/scoop-misc
scoopcn/scoopcn
ZvonimirSun/scoop-iszy
wangzq/scoop-bucket
zhoujin7/tomato
borger/scoop-emulators
ACooper81/scoop-apps
wzv5/ScoopBucket
TheRandomLabs/Scoop-Python
naderi/scoop-bucket
ChungZH/peach
AStupidBear/scoop-bear
42wim/scoop-bucket
krproject/qi-windows
excitoon/scoop-user
batkiz/backit
iquiw/scoop-bucket
mogeko/scoop-sysinternals
liaoya/scoop-bucket
jfut/scoop-jfut
Velgus/Scoop-Portapps
MCOfficer/scoop-bucket
Darkatse/Scoop-Darkatse
littleli/Scoop-littleli
ChinLong/scoop-customize
Apocalypsor/My-Scoop-Bucket
