kkzzhizhou/scoop-zapps
ScoopInstaller/Extras
chawyehsu/dorado
matthewjberger/scoop-nerd-fonts
Scoopforge/Extras-CN
Calinou/scoop-games
ScoopInstaller/Java
ScoopInstaller/Versions
arch3rPro/PST-Bucket
borger/scoop-galaxy-integrations
hoilc/scoop-lemon
TheCjw/scoop-retools
kodybrown/scoop-nirsoft
TheRandomLabs/scoop-nonportable
littleli/scoop-clojure
ScoopInstaller/Nirsoft
rasa/scoops
ScoopInstaller/Nonportable
Paxxs/Cluttered-bucket
kidonng/sushi
ACooper81/scoop-apps
KNOXDEV/wsl
echoiron/echo-scoop
cderv/r-bucket
hermanjustnu/scoop-emulators
whoopscs/scoop-security
couleur-tweak-tips/utils
dodorz/scoop
niheaven/scoop-sysinternals
ViCrack/scoop-bucket
wangzq/scoop-bucket
akirco/aki-apps
everyx/scoop-bucket
Qv2ray/mochi
TheRandomLabs/Scoop-Bucket
zhoujin7/tomato
cmontage/scoopbucket-third
DoveBoy/Apps
xrgzs/sdoog
wzv5/ScoopBucket
charmbracelet/scoop-bucket
TheRandomLabs/Scoop-Python
jonz94/scoop-sarasa-nerd-fonts
naderi/scoop-bucket
amorphobia/siku
hu3rror/scoop-muggle
NyaMisty/scoopbucketmisty
noql-net/scoop
ygguorun/scoop-bucket
aliesbelik/poldi
asimov-platform/scoop-bucket
batkiz/backit
42wim/scoop-bucket
kengwang/scoop-ctftools-bucket
Velgus/Scoop-Portapps
brian6932/dank-scoop
TianXiaTech/scoop-txt
Darkatse/Scoop-Darkatse
ChungZH/peach
AStupidBear/scoop-bear
iquiw/scoop-bucket
mogeko/scoop-sysinternals
starise/Scoop-Confetti
seumsc/scoop-seu
Small-Ku/turbo-bucket
jfut/scoop-jfut
starise/Scoop-Gaming
cc713/ownscoop
babo4d/scoop-xrtools
krproject/qi-windows
rivy/scoop-bucket
KnotUntied/scoop-fonts
excitoon/scoop-user
alextwothousand/scoop-bucket
AkariiinMKII/Scoop4kariiin
Darkatse/Scoop-KanColle
HUMORCE/nuke
MCOfficer/scoop-bucket
littleli/Scoop-littleli
BenjaminMichaelis/Config
beer-psi/scoop-bucket
natecohen/scoop-av
