kkzzhizhou/scoop-zapps
ScoopInstaller/Extras
chawyehsu/dorado
matthewjberger/scoop-nerd-fonts
Calinou/scoop-games
ScoopInstaller/Java
ivaquero/scoopet
ScoopInstaller/Versions
borger/scoop-galaxy-integrations
TheCjw/scoop-retools
TheRandomLabs/scoop-nonportable
kodybrown/scoop-nirsoft
arch3rPro/PST-Bucket
littleli/scoop-clojure
hoilc/scoop-lemon
ScoopInstaller/Nirsoft
scoopcn/scoopcn
rasa/scoops
kidonng/sushi
Paxxs/Cluttered-bucket
ScoopInstaller/Nonportable
KNOXDEV/wsl
ACooper81/scoop-apps
echoiron/echo-scoop
cderv/r-bucket
hermanjustnu/scoop-emulators
couleur-tweak-tips/utils
dodorz/scoop
borger/scoop-emulators
everyx/scoop-bucket
Qv2ray/mochi
wangzq/scoop-bucket
kiennq/scoop-misc
TheRandomLabs/Scoop-Bucket
ViCrack/scoop-bucket
niheaven/scoop-sysinternals
akirco/aki-apps
whoopscs/scoop-security
wzv5/ScoopBucket
zhoujin7/tomato
TheRandomLabs/Scoop-Python
DoveBoy/Apps
jonz94/scoop-sarasa-nerd-fonts
charmbracelet/scoop-bucket
amorphobia/siku
naderi/scoop-bucket
hu3rror/scoop-muggle
NyaMisty/scoopbucketmisty
ygguorun/scoop-bucket
noql-net/scoop
batkiz/backit
ChungZH/peach
42wim/scoop-bucket
AStupidBear/scoop-bear
iquiw/scoop-bucket
aliesbelik/poldi
mogeko/scoop-sysinternals
Velgus/Scoop-Portapps
brian6932/dank-scoop
jfut/scoop-jfut
SayCV/scoop-cvp
cc713/ownscoop
aoisummer/scoop-bucket
starise/Scoop-Gaming
krproject/qi-windows
rivy/scoop-bucket
excitoon/scoop-user
Darkatse/Scoop-Darkatse
TianXiaTech/scoop-txt
alextwothousand/scoop-bucket
Weidows-projects/scoop-3rd
littleli/Scoop-littleli
AkariiinMKII/Scoop4kariiin
starise/Scoop-Confetti
seumsc/scoop-seu
HUMORCE/nuke
kengwang/scoop-ctftools-bucket
mo-san/scoop-bucket
beer-psi/scoop-bucket
yuusakuri/scoop-bucket
ChinLong/scoop-customize
Darkatse/Scoop-KanColle
